# git folder
.git

# npm
node_modules
npm-debug.log

# bun
bun.lock

# mac
.DS_Store

# cache
.cache

# personal env
.env
config.js
docker-push.sh
docker-compose.yml
turnserver.conf
output
env.txt

.idea
