<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <!-- https://github.com/mikecao/umami -->

        <script
            async
            defer
            data-website-id="a378bd09-212d-4801-94cc-9797b6a5f3f7"
            src="https://stats.mirotalk.org/umami.js"
        ></script>

        <!-- Title and Icon -->

        <title>MiroTalk a Free Secure Video Calls, Chat & Screen Sharing.</title>
        <link rel="shortcut icon" href="../images/logo.svg" />
        <link rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta
            name="description"
            content="MiroTalk powered by WebRTC, Real-time Simple Secure Fast video calls, chat and screen sharing capabilities in the browser, from your mobile or desktop."
        />
        <meta
            name="keywords"
            content="webrtc, self hosted, voip, sip, real-time communications, chat, messaging, meet, webrtc stun, webrtc turn, video meeting, video chat, video conference, multi video chat, multi video conference, peer to peer, p2p, rtc, alternative to, zoom, microsoft teams, google meet, jitsi, meeting"
        />

        <!-- https://ogp.me -->

        <meta property="og:type" content="app-webrtc" />
        <meta property="og:site_name" content="MiroTalk" />
        <meta property="og:title" content="Click the link to make a call." />
        <meta
            property="og:description"
            content="MiroTalk calling provides real-time HD quality and latency simply not available with traditional technology."
        />
        <meta property="og:image" content="https://p2p.mirotalk.com/images/preview.png" />
        <meta property="og:url" content="https://p2p.mirotalk.com" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />
    </head>
    <body class="has-animations">
        <div class="body-wrap">
            <header class="site-header reveal-from-top">
                <div class="container">
                    <div class="site-header-inner">
                        <div class="brand">
                            <div class="m-0">
                                <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main class="site-content">
                <section class="hero section illustration-section-02">
                    <div class="container">
                        <div class="hero-inner section-inner">
                            <div class="split-wrap invert-mobile">
                                <div class="split-item" style="min-height: 0px">
                                    <div class="hero-content split-item-content center-content-mobile">
                                        <h1 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150">
                                            MiroTalk<br/>
                                            <h4 class="mt-0 mb-16 reveal-from-bottom" data-reveal-delay="150" style="margin-top: -15px;">Simple, Secure, Fast, Encrypted</h4>
                                        </h1>
                                        <p class="mt-0 mb-32 reveal-from-bottom" data-reveal-delay="300">
                                            Start your next video call with a single click. No download, plugins, or
                                            login required. Just get straight to talking, messaging, and sharing your
                                            screen.
                                        </p>
                                    </div>
                                    <style>
                                        @media (min-width: 641px) {
                                            .hero .split-wrap .split-item {
                                                min-height: 492px;
                                            }
                                        }
                                    </style>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="cta section center-content-mobile reveal-from-bottom">
                    <div class="container">
                        <div class="cta-inner section-inner cta-split br-12">
                            <div class="cta-slogan">
                                <h3 class="m-0">
                                    Pick a room name.<br />
                                    How about this one?
                                </h3>
                            </div>
                            <div class="cta-action">
                                <div class="mb-24">
                                    <label class="form-label screen-reader" for="roomName">mirotalk</label>
                                    <div class="form-group-desktop">
                                        <input
                                            class="form-input"
                                            type="text"
                                            id="roomName"
                                            value="mirotalk"
                                            style="border-radius: 6px"
                                        />
                                        <button
                                            id="joinRoomButton"
                                            class="button button-primary br-6 pulse"
                                            onclick="joinRoom()"
                                        >
                                            Join Room
                                        </button>
                                        <script>
                                            document.getElementById('roomName').onkeyup = (e) => {
                                                if (e.keyCode === 13) {
                                                    e.preventDefault();
                                                    joinRoom();
                                                }
                                            };
                                            function joinRoom() {
                                                let roomName = document.getElementById('roomName').value;
                                                window.location.href = '/join/' + roomName;
                                            }
                                        </script>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <section class="features-tiles section center-content">
                    <div class="container">
                        <div class="features-tiles-inner section-inner has-top-divider">
                            <div class="section-header">
                                <div class="container-xs reveal-from-bottom" data-reveal-delay="650">
                                    <h2 class="mt-0 mb-16">
                                        Unlimited number of conference rooms without call time limitation
                                    </h2>
                                    <p class="m-0">
                                        MiroTalk is built radically differently. We left behind slow bulky servers,
                                        opting for peer-to-peer calling. We engineered a platform with maximum video
                                        quality lowest latency that makes your calls crystal clear.
                                    </p>
                                </div>
                            </div>

                            <div class="tiles-wrap">
                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-02.svg"
                                                    alt="Screen Sharing"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Screen Sharing</h4>
                                            <p class="m-0 text-sm">
                                                Share your screen, application window, present your documents, slides
                                                and more. Up to 4k resolution and speed up to 60fps.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-04.svg"
                                                    alt="WebCam Streaming"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">WebCam Streaming</h4>
                                            <p class="m-0 text-sm">
                                                Having the webcam on, allows participants to make a deeper connection
                                                with you. Up to 4k resolution and speed up to 60fps.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-01.svg"
                                                    alt="Chat Room"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Chat Room</h4>
                                            <p class="m-0 text-sm">
                                                Chat with others in the meeting, either public chat or private, save the
                                                meeting messages. An integrated emoji picker to show your feeling.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-03.svg"
                                                    alt="Meeting Recording"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Meeting Recording</h4>
                                            <p class="m-0 text-sm">
                                                Record your Screen, WebCam and Audio. Save it for use in the future or
                                                to share with others.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-06.svg"
                                                    alt="Interactive Whiteboard"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Interactive Whiteboard</h4>
                                            <p class="m-0 text-sm">
                                                Advanced collaborative whiteboard to draw and explain your concepts to
                                                the other participants in the meeting.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-02.svg"
                                                    alt="File Sharing"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">File Sharing</h4>
                                            <p class="m-0 text-sm">
                                                Share any types of files to all participants in the meeting, in total
                                                security, thanks to Datagram Transport Layer Security (DTLS).
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-right">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-05.svg"
                                                    alt="Total Privacy"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Total Privacy</h4>
                                            <p class="m-0 text-sm">
                                                Data stays between you and your participants. MiroTalk doesn't collect
                                                or share personal information. It's built for privacy first.
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="tiles-item reveal-from-left">
                                    <div class="tiles-item-inner">
                                        <div class="features-tiles-item-header">
                                            <div class="features-tiles-item-image mb-16">
                                                <img
                                                    src="../images/feature-tile-icon-05.svg"
                                                    alt="Maximum Security"
                                                    width="72"
                                                    height="72"
                                                />
                                            </div>
                                        </div>
                                        <div class="features-tiles-item-content">
                                            <h4 class="mt-0 mb-8">Maximum Security</h4>
                                            <p class="m-0 text-sm">
                                                End-to-end state-of-the-art encryption means your participants are
                                                exactly that. Your calls.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

            </main>

            <footer class="site-footer center-content-mobile">
                <div class="container">
                    <div class="site-footer-inner">
                        <div class="footer-top space-between text-xxs">
                            <div class="brand">
                                <a href="/"><img src="../images/logo.svg" alt="Neon" width="32" height="32" /></a>
                            </div>
                                        <a
                                            class="github-button"
                                            href="https://github.com/sponsors/miroslavpejic85"
                                            data-color-scheme="no-preference: light; light: light; dark: dark;"
                                            data-icon="octicon-heart"
                                            data-size="large"
                                            aria-label="Sponsor @miroslavpejic85 on GitHub"
                                            >Sponsor</a
                                        >
                        </div>
                        <div class="footer-bottom space-between text-xxs invert-order-desktop">
                            <nav class="footer-nav">
                                <ul class="list-reset">
                                    <li>
                                        <a href="https://github.com/miroslavpejic85/mirotalk" target="_blank">GitHub</a>
                                    </li>
                                    <li>
                                        <a href="/privacy">Privacy Policy</a>
                                    </li>
                                    <li>
                                        <a href="https://github.com/l4rm4nd/mirotalk" target="_blank">Powered by LRVT</a>
                                    </li>
                                </ul>
                            </nav>
                            <div class="footer-copyright">&copy; 2023 MiroTalk, all rights reserved</div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>

        <script defer src="../js/landing.js"></script>
        <script defer src="../js/newRoom.js"></script>
        <script async defer src="https://buttons.github.io/buttons.js"></script>
    </body>
</html>
