<!doctype html>
<html>
    <head>
        <!-- Title and Icon -->

        <title id="stunTurnTitle">Test Stun/Turn Servers.</title>
        <link id="shortcutIcon" rel="shortcut icon" href="../images/logo.svg" />
        <link id="appleTouchIcon" rel="apple-touch-icon" href="../images/logo.svg" />

        <!-- Meta Information -->

        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <meta name="description" content="MiroTalk P2P test Stun and Turn servers" />
        <meta name="keywords" content="webrtc, stun, turn, srflx, relay" />

        <!-- StyleSheet -->

        <link rel="stylesheet" href="../css/landing.css" />
        <link rel="stylesheet" href="../css/newcall.css" />

        <!-- JavaScripts -->

        <script async src="../js/umami.js"></script>

        <!-- xss -->

        <script src="https://cdn.jsdelivr.net/npm/xss/dist/xss.min.js"></script>
    </head>

    <body>
        <div class="container">
            <h1>Test Stun/Turn Servers</h1>

            <hr />

            <pre id="ice" class="ice"></pre>

            <hr />

            <p id="ip"></p>
            <p id="stun">🔴 The STUN server is NOT reachable!</p>
            <p id="turn">🔴 The TURN server is NOT reachable!</p>
            <p id="err"></p>

            <hr />

            <a href="https://github.com/miroslavpejic85/mirotalk/issues/108#issuecomment-1193087636" target="_blank">
                Check this out too</a
            >

            <hr />
        </div>

        <script async src="../js/brand.js"></script>
        <script async src="../js/testStunTurn.js"></script>
    </body>
</html>
