
#carouselContainer {
    display: none;
    /* flex-direction: column;
    justify-content: center;
    height: 100%; */

    /* to ensure correct poistioning */
    /* .glide {
        display: block;
        width: 100%; 
    } */
    
    .glide__slide {
        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
        /* display: flex;
        justify-content: center;
        align-items: center; */
    }

    .hidden {
        display: none;
    }
}

#videoMediaContainer {
    /* display: none; */
}
/* #myVideoWrap,
.Camera {
    display: none !important;
} */

/* #videoPinMediaContainer {
    z-index: 3;
    display: block;
} */