#snow-container {
    top: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    transition: opacity 500ms;
}

.snow {
    position: absolute;
    animation:
        fall ease-in infinite,
        sway ease-in-out infinite;
    color: skyblue;
}

@keyframes fall {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        top: 100vh;
        opacity: 1;
    }
}

@keyframes sway {
    0% {
        margin-left: 0;
    }
    25% {
        margin-left: 50px;
    }
    50% {
        margin-left: -50px;
    }
    75% {
        margin-left: 50px;
    }
    100% {
        margin-left: 0;
    }
}
