/*--------------------------------------------------------------
# Video grid
--------------------------------------------------------------*/

#videoMediaContainer {
    z-index: 2;
    position: absolute;
    display: flex;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    overflow: hidden;
}

#videoPinMediaContainer {
    z-index: 1;
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    border-radius: 5px;
    box-shadow: var(--box-shadow);
    overflow: hidden;
    /* border: 3px solid lime; */
}

.Camera {
    position: relative;
    vertical-align: middle;
    align-self: center;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    background: var(--body-bg);
    border: var(--elem-border-color);
    border-radius: 10px;
    animation: show 0.4s ease;
}

/*--------------------------------------------------------------
# Video nav Bar
--------------------------------------------------------------*/

.navbar {
    z-index: 8;
    position: absolute;
    top: 0;
    width: 100%;
    background: var(--navbar-bg);
    text-align: right;
}

.navbar button {
    display: inline;
    padding: 10px;
    font-size: small;
    text-decoration: none;
    border: none;
    border-radius: 10px;
    background: transparent;
    color: #fff;
}

.navbar button:hover {
    color: var(--hover-color);
    cursor: pointer;
}

/*--------------------------------------------------------------
# Peer name 
--------------------------------------------------------------*/

.videoPeerName {
    z-index: 8;
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    font-size: 14px;
    display: flex;
    align-items: center;
    margin: 5px;
    width: auto;
    height: 25px;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# Video Avatar image
--------------------------------------------------------------*/

.videoAvatarImage {
    z-index: 7;
    position: absolute;
    display: none;
    width: var(--vmi-wh);
    height: var(--vmi-wh);
    border-radius: 50%;
    /*center*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*--------------------------------------------------------------
# Video 
--------------------------------------------------------------*/

.videoCircle {
    position: absolute;
    width: var(--vmi-wh);
    height: var(--vmi-wh);
    border-radius: 50%;
    /* center */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.videoDefault {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: '10px';
}

video {
    width: 100%;
    height: 100%;
    object-fit: var(--video-object-fit);
    border-radius: 10px;
    cursor: pointer;
}

video:hover {
    opacity: 0.9;
}

video:fullscreen {
    object-fit: contain;
    opacity: 1;
}

#myVideo.mirror {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.mirror {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

@keyframes show {
    0% {
        opacity: 0;
        transform: scale(0.4) translateY(20px);
    }
    100% {
        opacity: 1;
        transform: scale(1) translateY(0);
    }
}
