@import url("https://fonts.googleapis.com/css?family=Fira+Sans:600|Heebo:400,500,700&display=swap");

/*Fade in page on load*/
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

:root {
  --msger-bg: black; /* transparent; */
  --left-msg-bg: #da05f3;
  --right-msg-bg: #579ffb;
}

* {
  outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background: #000000;
  background-image: url("/images/loader.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  opacity: 0; /* make things invisible upon start */
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 0.3s;
  -moz-animation-duration: 0.3s;
  animation-duration: 0.3s;
  overflow: hidden;
}

.msger-draggable {
  display: none;
  position: absolute;
  z-index: 9;
  /* background-color: #000000; */
  background: var(--msger-bg);
  text-align: center;
  -webkit-animation: fadeIn ease-in 1;
  -moz-animation: fadeIn ease-in 1;
  animation: fadeIn ease-in 1;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #0500ff, -5px -5px 10px #da05f3;
}

/* https://mediag.com/blog/popular-screen-resolutions-designing-for-all/ */
.msger {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  width: 412px;
  height: 732px;
  background: var(--msger-bg);
}

.msger-header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: rgb(0, 0, 0);
  color: #666;
  cursor: move;
}

.msger-header-options:hover {
  cursor: pointer;
}

.msger-chat {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msger-chat::-webkit-scrollbar {
  width: 6px;
}
.msger-chat::-webkit-scrollbar-track {
  background: #ddd;
}
.msger-chat::-webkit-scrollbar-thumb {
  background: #bdbdbd;
}
.msg {
  display: flex;
  align-items: flex-end;
  margin-bottom: 10px;
}
.msg:last-of-type {
  margin: 0;
}
.msg-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background: rgb(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
}
.msg-bubble {
  max-width: 450px;
  padding: 15px;
  border-radius: 15px;
  background: var(--left-msg-bg);
}
.msg-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.msg-info-name {
  margin-right: 10px;
  font-weight: bold;
}
.msg-info-time {
  font-size: 0.85em;
}

.left-msg .msg-bubble {
  border-bottom-left-radius: 0;
}

.right-msg {
  flex-direction: row-reverse;
}
.right-msg .msg-bubble {
  background: var(--right-msg-bg);
  color: #fff;
  border-bottom-right-radius: 0;
}
.right-msg .msg-img {
  margin: 0 0 0 10px;
}

.msger-inputarea {
  display: flex;
  padding: 10px;
  /* background: rgb(2, 2, 2); */
  background: var(--msger-bg);
}

.msger-inputarea * {
  padding: 10px;
  border: none;
  border-radius: 3px;
  font-size: 1em;
  color: white;
}

.msger-input {
  flex: 1;
  background: rgb(0, 0, 0);
}

#msgerSendBtn {
  margin-left: 10px;
  background: rgb(0, 0, 0);
  color: #fff;
  cursor: pointer;
  transition: background 0.23s;
}

#msgerSendBtn:hover {
  background: rgb(0, 180, 50);
}

.msger-chat {
  /* background-color: black; */
  background: var(--msger-bg);
}

video {
  width: 100%;
  height: auto;
  height: 100%;
  object-fit: contain;
  /*border:  1px solid rgb(255, 255, 255);*/
}
video:fullscreen {
  object-fit: contain;
}
.video {
  float: left;
  width: 25vw;
  height: 50vh;
  overflow: hidden;
  position: relative;
}
.video.one {
  width: 100vw;
  height: 100vh;
}
.video.two {
  width: 50vw;
  height: 100vh;
}
.video.three {
  width: 33.33vw;
  height: 100vh;
}
.video.four {
  width: 50vw;
  height: 50vh;
}
.video.six {
  width: 33.33vw;
  height: 50vh;
}
#myVideo.mirror {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
}
.fa-microphone-slash,
.fa-video-slash {
  color: #e74c3c !important;
}

#logo {
  width: 48px;
  margin-right: 0.5rem;
}
#logo svg {
  width: 100%;
}

#buttons {
  position: absolute;
  left: calc(3vw - 2px);
  top: 50%;
  -ms-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  z-index: 999;
  border-radius: 20px;
  /*background: #ffffff;*/
  background: transparent;
  box-shadow: 5px 5px 10px #0500ff, -5px -5px 10px #da05f3;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  grid-gap: 0.2rem;
  width: 40px;
}

#buttons button {
  border: none;
  font-size: 1.5rem;
  transition: all 0.3s ease-in-out;
  background: white;
  /*background: transparent;*/
  padding: 4px;
  border-radius: 5px;
}

button:focus {
  outline: none;
}
button:hover {
  color: rgb(8, 189, 89);
}

#copyRoomBtn,
#audioBtn,
#videoBtn,
#swapCameraBtn,
#screenShareBtn,
#fullScreenBtn,
#sendMsgBtn,
#chatRoomBtn,
#aboutBtn,
#leaveRoomBtn {
  font-size: 2rem;
}

@media only screen and (max-width: 960px) {
  .video {
    float: left;
    width: 50vw;
    height: 25vh;
    overflow: hidden;
  }
  .video.two {
    width: 100vw;
    height: 50vh;
  }
  .video.three {
    width: 100vw;
    height: 33.33vh;
  }
  .video.six {
    width: 50vw;
    height: 33.33vh;
  }
}

.swal2-title,
.swal2-content {
  color: white !important;
}
/* 
.swal2-popup {
  font-size: 0.8rem !important;
}
*/
